:root {
  --theme-color: #fbe284;
}
body {
  background: #ffffff;
  overflow: scroll !important;
}
.sidebar ul li.active > a {
  color: #7568fd;
}
.app-nav.app-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  margin: 0;
  padding: 0 15px;
  height: 60px;
  background: #ffffff;
}
svg {
  pointer-events: none;
}
a svg {
  cursor: pointer;
  fill: #c8c8c8;
}
a:hover svg {
  fill: #ea6f5a;
  fill: var(--theme-color, #51b1dd);
}
a {
  text-decoration: none;
}
.results-panel {
  background: #21212a;
}

.sidebar.sidebar {
  background: #ffffff;
}
.sidebar-toggle.sidebar-toggle {
  background: #ffffff;
}
.sidebar-toggle span {
  background: #121212;
}
.search.search {
  border: none;
  padding: 0;
}
.search.search input {
  background: transparent;
  line-height: 40px;
  padding: 6px;
  background: #ffffff;
  border-bottom: 1px solid transparent;
}
.search.search input:focus {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.search.search .results-panel {
  background: white;
}
.search.search .matching-post {
  padding: 6px;
  margin: 6px;
  background: rgba(255, 255, 255, 0.025);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.search.search .matching-post:last-child {
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.sequence {
  margin: 30px auto;
}
.app-name-link {
  display: flex;
  align-items: center;
  margin: 6px 15px;
}
.app-name-link::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url(/assets/dist/icons.svg);
  background-size: 100%;
  margin-right: 15px;
}
.markdown-section.markdown-section p.warn {
  background: var(--theme-color, #51b1dd);
  color: #fff;
}
.markdown-section.markdown-section a {
  color: #3f3f3f;
}
.markdown-section code {
  color: #7568fd;
  font-weight: bold;
}
.app-nav p {
  display: flex;
  align-items: center;
}
.app-nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

/* icons */
.fa {
  margin-right: 5px !important;
  font-size: 18px !important;
}

.tech-icons {
  display: inline-block !important;
  margin-right: 5px !important;
  font-size: 18px !important;
}

.app-sub-sidebar li:before {
  content: none !important;
}
